<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="com.fetchrewards.test">
    <test name="login">
        <parameter name="user" value="xxxx" />
        <parameter name="pass" value="xxxx" />
        <classes>
            <class name="com.fetchrewards.test.TestScript" />
        </classes>
    </test>
</suite>